<div class='center jumbotron'>
    <div class='text-center'>
        <h1>Welcome to the Tasklist2</h1>
        <%= link_to 'Sign up now', signup_path, class: 'btn btn-lg btn-secondary' %>
    </div>
</div>